@font-face {
  font-family: 'quicksand';
  src: url('../fonts/quicksand/quicksand-regular-webfont.woff2') format('woff2'),
  url('../fonts/quicksand/quicksand-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mitr-el';
  src: url('../fonts/mitr/mitr-extralight/mitr-extralight-webfont.woff2') format('woff2'),
  url('../fonts/mitr/mitr-extralight/mitr-extralight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mitrlight';
  src: url('../fonts/mitr/mitr-light/mitr-light-webfont.woff2') format('woff2'),
  url('../fonts/mitr/mitr-light/mitr-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mitrmedium';
  src: url('../fonts/mitr/mitr-medium/mitr-medium-webfont.woff2') format('woff2'),
  url('../fonts/mitr/mitr-medium/mitr-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mitrsemibold';
  src: url('../fonts/mitr/mitr-semibold/mitr-semibold-webfont.woff2') format('woff2'),
  url('../fonts/mitr/mitr-semibold/mitr-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}